---
import Layout from '../layouts/Layout.astro';
import List from '../components/ZKList.jsx';
---

<Layout title="ZK Map">
    <div class="flex justify-center">
	<List client:load />
    </div>
</Layout>
