---
const { title, organisation, year, description } = Astro.props;
---

<div class="flex flex-row pb-3">
	<div class="w-72 italic"> {year} </div>
	<div class="w-72"> 
		<div> {title} </div>
		<div class="font-bold"> {organisation} </div>
	</div>
	<div class="w-full pl-2"> {description} </div>
</div>
